/* css/main.css */
/*
Small - 40.0625em
Medium - 64.0625em
*/

@font-face {
    font-family: 'Calibri Light';
    src: url('/fonts/calibri_light.ttf')  format('truetype');
}

body {
  font-family: "Calibri Light", Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Calibri Light", Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.tabs .tab-title > a {
  font-family: "Calibri Light", Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.accordion .accordion-navigation > a, 
.accordion dd > a {
  font-family: "Calibri Light", Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.sub-nav li {
  font-family: "Calibri Light", Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.label {
  font-family: "Calibri Light", Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

@media only screen and (max-width: 40.0625em) {
  #main_body {
    padding-top: 5px;
  }

  #mobile-logo{
    text-align: center;
    float: right;
    width: 100%;
  }

}

@media only screen and (min-width: 40.0625em) {
    #sidebar {
        position: fixed;
        width: 200px;
        height: 100%;
        z-index: 99;
        /*box-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);*/
    }

    #main_body {
        padding-left: 220px;
    }

    /*
        IMPORTANT: when changing logo, update below;
        Distance from top + height of logo
    */
    .align-logo-bottom {
      position: relative;
      top: 123px;
    }
}

.sidebar-content {
  position: relative;
  top: 75px;
}

.spacer {
  height: 10px;
  list-style: none;
}

#desktop-logo {
  margin: 0 0.875rem;
}

.top-bar-section .second-level-text {
  padding-left: 30px;
}

/** Sidebar **/

.side-nav {
  font-family: "Calibri Light", Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.side-nav .second-level {
  list-style-type: none;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.side-nav .second-level.hide {
  display: none;
}

.side-nav li.divider {
  border: none;
  height: 10px;
}

.side-nav li a:not(.button):hover, 
.side-nav li a:not(.button):focus {
  background: transparent;
  color: #555;
}

.side-nav li a:not(.button) {
  color: #222;
}

.side-nav li.active > a:first-child: not(.button) {
  font-family: "Calibri Light", Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

/**------------**/

.panel {
  background-color: transparent;
}

.hidden {
  display: none;
}

/** TOPBAR **/

/* area that is not covered by any menu's items*/ 
.top-bar 
/* logo area */
,.top-bar-section ul li, .top-bar.expanded .title-area 
/* menu item */
,.top-bar-section li:not(.has-form) a:not(.button) 
/* menuitem with dropdown when hovering */
,.top-bar-section ul li:hover:not(.has-form) > a 
{
    background: white;
}

/* adding a shadow */
.top-bar {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* general font and colors */
.top-bar-section ul li > a 
/* topbar H1 name */
,.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a
{
    font-family: "Calibri Light", Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    /*text-transform: uppercase;*/
}

/* menu item when hover */
.top-bar-section li:not(.has-form) a:hover:not(.button) 
{
    background: #fff;
    color: #555;
}

/* parent menu item when leaving a hovered child for another parent menu item */
.top-bar-section li.hover > a:not(.button) {
    color: #333;
}

/* menu item when active */
.top-bar-section li.active:not(.has-form) a:not(.button) 
{
    background: #fff;
    font-weight: 700;
    color: #333;
}

/* menu item when active and hover */
.top-bar-section li.active:not(.has-form) a:hover:not(.button) 
{
    background: #fff;
    color: #555;
}

/* dropdown arrow color */
.top-bar-section .has-dropdown > a::after 
{
    border-color: rgba(51, 51, 51, 0.4) transparent transparent;
}

/* dropdown parent when hovering a child item */
.top-bar-section ul li:hover:not(.has-form) > a 
{
    color: #333;
}

/* ul.dropdown, only to add border no background */
.top-bar-section .has-dropdown.hover > .dropdown, .top-bar-section .has-dropdown.not-click:hover > .dropdown, .top-bar-section .has-dropdown > a:focus + .dropdown
{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* dropdown child */
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) 
{
    background: #fff;
    color: #333;
}
/* dropdown child when hover */
.top-bar-section .dropdown li:hover:not(.has-form):not(.active) > a:not(.button) 
{
    background: #fff;
    color: #555;
}

/* divider */
.top-bar-section .divider {
  border-top: solid 1px #CCC;
}

/* on small screen */

/* content of the toggled menu */
.top-bar .toggle-topbar.menu-icon a 
{
    color: #333;
}
/* toggle 3 horizontal bars */
.top-bar .toggle-topbar.menu-icon a span::after 
{
    box-shadow: 0 0 0 1px #333, 0 7px 0 1px #333, 0 14px 0 1px #333;
}
/* responsive dropdown back menu */
.top-bar-section .dropdown li.parent-link a, .top-bar-section .dropdown li.title h5 a {
    color: #333;
    font-family: "Calibri Light", Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 18px;
    /*text-transform: uppercase;*/
}

/** ---------------------- **/


/** Buttons **/

button, .button {
  font-family: "Calibri Light", Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  background-color: transparent;
  color: #222;
  border-color: #222;
}

button:hover, button:focus,
.button:hover, .button:focus {
  background: #555;
  color: #EEE;
}

/** ------------ */

