  

  <script src="{{ site.baseurl }}/foundation/js/vendor/jquery.js"></script>
  <script src="{{ site.baseurl }}/foundation/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>

  <script src="{{ site.baseurl }}/js/jquery.jscroll.min.js"></script>

  <script type="text/javascript">
    $('.scroll-content').jscroll({
      contentSelector: ".scroll-content",
      nextSelector: '.next_page'
    });
  </script>

  <script src="{{ site.baseurl }}/js/main.js"></script>