<li>
  <a href="{{ site.baseurl }}/art" 
      onclick="return toggle_nav('{{ art_nav_id }}');">Art</a>
  <ul id="{{ art_nav_id }}" class="second-level hide">
    <li><a href="{{ site.baseurl }}/art/projects" class="second-level-text">Projects</a></li>
    <li><a href="{{ site.baseurl }}/art/video" class="second-level-text">Video</a></li>
    <li><a href="{{ site.baseurl }}/art/misc" class="second-level-text">Misc.</a></li>
  </ul>
</li>
<li><a href="{{ site.baseurl }}/design">Design</a></li>
<li class="divider"></li>
<li><a href="{{ site.baseurl }}/about">About</a></li>
<li><a href="{{ site.baseurl }}/contact">Contact</a></li>