<!DOCTYPE html>
<html class="no-js" lang="en">

  {% include head.html %}

  <body>
    <div class="hide-for-print">
      {% include mobile_nav.html %}
    </div>
    <div class="row">
      <div id="sidebar" class="medium-3 large-3 columns show-for-medium-up hide-for-print">
        <!-- Sidebar -->
        {% include desktop_nav.html %}
      </div>
      <div id="main_body" class="large-12 columns">
        <div class="row">
          <div class="large-12 columns">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    {% include body_bottom.html %}
  </body>

</html>
